@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Open+Sans:ital@1&display=swap');

:root{
	--primary-color: gray;
}

*{
	margin 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito', sans-serif;
	background: #000;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.6rem;
}

h1, h2, h3, h4{
	line-height: 3rem;
}

a{
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}
/*NAVBAR*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li  {
  float: left;
  color: blanchedalmond;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*Header*/

.main-header{
	width: 100%;
	height: 100vh;
	position: relative;
	background: url(../images/pexels-pixabay-265125.jpg) no-repeat center center/cover;
}

.main-header::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}



.header-top{
	position: relative;
	height: 90px;
	z-index: 2;
}
.header-two{
	color: blanchedalmond;
}

.header-top .logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
}

.header-top a{
	position: absolute;
	top: 40%;
	right: 0;
	transform:  translate(-50%, -50%);

}

.header-content{
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
	z-index: 2;
}

.header-content h1{
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.3;
	margin: 0 0 2rem;
}

.header-content p{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.25rem;
	margin: 1rem 2rem;
}

.header-content a{
	margin-top: 2rem;
}

/*Gallery*/

.section.gallery{
	background: white;
	width: 100%;

}

section.gallery .gallery-container{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 2fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas: "box1 box2 box2"
	"box1 box3 box3";
	padding: 15rem;
}

section.gallery .gallery-container a:first-child{
	grid-area: box1;
	padding: 1rem;
}

section.gallery .gallery-container a:nth-child(2){
	grid-area: box2;
	padding: 1rem;
}

section.gallery .gallery-container a:last-child{
	grid-area: box3;
	padding: 1rem;
}

.img-container{
	position: relative;
	display: inline-block;
}

.img-container .text-container{
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	transition: all .3s ease-in-out;
}

.img-container .text-container:hover{
	opacity: 1;

}

.about-section{
	position: relative;
	background: url(../images/) no-repeat, center center/cover;
	height: 600px;
}

.about-section-inner{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 800px;
	padding: 5rem 0;
}

.about-section-inner h3{
	font-size: 4rem;
	margin-top: 0;
}

/*.about-section-inner h2{
	font-size: 4rem;
	line-height: 5rem;
	margin-top: 1rem;
}*/

.about-section-inner p{
	font-size: 1.5rem;
	margin-top: 1rem;
}


/*NEWS LETTER SECTION*/

.news-letter{
	width: 100%;
	height:500px;
	background: whitesmoke;
	margin-top: 18rem;
	color: black;

}

.news-letter-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	margin-top: 10rem;
}

.news-letter-inner h2{
	font-size: 5rem;
	margin: 1rem 0;
}

.email-form{
	width: 100%;
	display: inline-block;
	background-color: #555;
	position: relative;
	border-radius: 20px;
	line-height: 0;
	margin-top: 5rem;
}

.email-form .form-control{
	display: inline-block;
	border: 0;
	outline: 0;
	font-size: 1rem;
	color: #ddd;
	background: transparent;
	font-size: inherit;
	margin: 0;
	padding: 0 3rem 0 1.5rem;
	width: 100%;
	height: 50px;
	border-radius: 20px;
}

.email-form .submit{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 50px;
	background-color:  #eee;
	font-size: 1rem;
	text-align: center;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	color: #333;
	cursor: pointer;
	border-radius: 0 20px 20px 0;
}

/*FOOTER*/

.footer{
	max-width: 75%;
	margin: 2rem auto;
	overflow: auto;
}

.footer, .footer a{
	color: #999;
	font-size: 0.9rem;
}

.footer p{
	margin-bottom: 1.5rem;
}

.footer .footer-col{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;

}

.footer li{
	line-height: 1rem;
}


/*Utilities*/

.btn{
	display: inline-block;
	background: var(--primary-color);
	color: whitesmoke;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: 0;
	cursor: pointer;
	margin-right: 0.5rem;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover{
	opacity: 0.9;
}

.btn-rounded{
	border-radius: 5px;
	color: blanchedalmond;
}

.btn-xl{
	font-size: 1.2rem;
	padding: 1rem 2.1rem;
	text-transform: uppercase;

}

.btn-lg{
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;

}

.fa-fw{
	margin-left: 1rem;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 150%;
	width: 100%;
	background-color: white;
	color: black;
}

@media (max-width: 700px){
	.header-top a{
		top: 90%;
		right: 19%;
		transform: translate(-90%, -19%);
	}
	.header-content{
		margin-top: 25%;
	}
	.header-content h1{
		font-size: 4.5rem;
		line-height: 4rem;
	}
	.header-content p{
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	.btn-xl{
		font-size: 1rem;
		padding: 0.6rem 2rem;
	}
	section.gallery .gallery-container{
		grid-template-columns: 1fr ;
		grid-template-areas: "box1" "box2" "box3";
	}
	.about-section-inner h2{
		font-size: 1rem;
	}
	.news-letter-inner{
		text-align: center;
	}
	.email-form{
		width: 90%;
	}
}

/*ANIMATION*/
